<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Email:</strong>
    <%= maintenance.email %>
  </p>

  <p>
    <strong>Date job:</strong>
    <%= maintenance.date_job %>
  </p>

  <p>
    <strong>User:</strong>
    <%= maintenance.user_id %>
  </p>

  <p>
    <strong>Motor:</strong>
    <%= maintenance.motor_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= maintenance.city_id %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= maintenance.materials_id %>
  </p>

  <p>
    <strong>Type of maintenance:</strong>
    <%= maintenance.type_of_maintenance_id %>
  </p>

</div>
