<p style="color: green"><%= notice %></p>

<h1>Motores</h1>

<div>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Tipo de equipo</th>
      <th>Imagen del motor</th>
    </tr>
  </thead>
  <% @motors.each do |motor| %>
  <tbody>
    <tr>
      <td><%= motor.name %></td>
      <td><%= motor.description %></td>
      <td><%= motor.type_of_equipment_id %></td>
      <td><%= link_to motor.image.filename, motor.image if motor.image.attached? %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>  
</div>

<div class="pag-bar mt-3 pt-3">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>

<%= link_to "New motor", new_motor_path, class: 'btn btn-primary', id: 'btn-custom' %>
</div>



